snippet vsig
	--
	Greg Berenfield

	Berenfield Containers
	P.O. Box 16579
	Chapel Hill, NC  27516

	p: +1 (919) 585-5330 x 1
	f:  +1 (919) 869-1513

snippet hsig
	--
	Greg Berenfield

	207 Longwood Drive
	Chapel Hill, NC  27514

	+1 (919) 883-4254  ph
	+1 (919) 859-1513  fax

